.c-button {
	padding: .5rem 1rem;
	color: inherit;
	border: 1px solid currentColor;
	background: none;
	font-size: .8rem;
	text-transform: uppercase;
}

.c-button-icon {
	color: inherit;
	//border: 1px solid currentColor;
	font-size: 1.2rem;
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 50%;
	border-color: white $dark-green $dark-green white;
	border-style:solid;
	border-width:2px;
	line-height: 1;
	background-color: transparent;

	&:active,
	&.is-active {
		background-color: rgba(#fff, .4);
	}

	&:focus {
		outline: none;
	}
}