.c-controller-card {
	background: white;
	margin:0 .3rem;
	//color: #fff;
	border-top: 0px solid $dark-green;
	border-radius: 3px;
	overflow: hidden;

	&__title {
		padding: 1rem 1rem 0rem;
		margin-top: 0;
		margin-bottom: 0;
		font-size: 1.2rem;
	}


	&__description {
		font-size: .8rem;
		padding:1rem;
	}
}