.c-controller-project {
	padding: 1rem;

	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background: $green;
	//animation: expandIn .3s;
	//animation-fill-mode: forwards;
	//animation-delay: .3s;
	//opacity: 0;
	color: #fff;

	&__header {
		border-bottom: 1px solid currentColor;
		padding-right: 2rem;
	}
}

@keyframes expandIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}