.c-showcase-project {
	padding: 3rem;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #fff;
	color: #333;
	border-top: .8rem solid $dark-green;

	animation: slidein .3s forwards ease-out;

	&--is-closing {
		animation: slideout .3s forwards ease-out;
	}

	&__header {

	}

	&__title {
		font-size: 3rem;
		margin-bottom: 1em;
	}

	&__content {
		display: flex;
		align-items: center;
	}

	&__description {
		flex: 0 1 calc(40% - 1rem);
		color: #666;
		line-height: 1.5;
	}
	&__cover {
		flex: 0 1 calc(60% - 1rem);
		margin-left: auto;
	}
}

@keyframes slidein {
	from {
		transform: translateY(100%) scale(0.8);
	}

	to {
		transform: translateY(0) scale(1);
	}
}


@keyframes slideout {
	from {
		transform: translateY(0) scale(1);
	}

	to {
		transform: translateY(100%) scale(0.8);
	}
}