h1 {
	font-size: 2rem;
	margin-bottom: 1rem;
}

html,
body {
	background: $green;
	overflow: hidden;
	min-height: 100vh;
}

img {
	max-width: 100%;
}

p {
	line-height: 1.4;
}
h1,
h2 {
	font-weight: bold;
}

h3 {
	font-size: 1.5rem;
	font-weight: bold;
	margin-bottom:1em;
}


.submit {
	padding:.7rem 1rem;
	&:focus {
		animation: outline 2s infinite;
	}
}


@keyframes outline {
	0% {
		outline: 2px solid rgba(white, 0.1);
	}
	50% {
		outline: 2px solid rgba(white, 1);
	}
	100% {
		outline: 2px solid rgba(white, 0.1);
	}
}