.u-overflow-hidden {
	overflow: hidden;
}

.u-visually-hidden {
	position: absolute;
	height: 1px;
	width: 1px;
	clip:rect(0 0 1px 1px);
	overflow: hidden;
}

.u-vertically-centered {
	align-self: center;
}

.u-vertically-stretched {
	align-self: stretch;
}

.u-grow {
	flex-grow:1;
}

.u-hidden {
	display: none!important;
}

.u-text-centered {
	text-align: center;
}