.o-controller-project {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items:flex-start;


	&__header {
		flex-grow:0;
		margin-bottom: 1rem;
	}

	&__views {
		flex: 0 1 90%;
		overflow-x: hidden;
	}

	&__side-buttons {
		align-self: flex-end;
		margin-left: auto;
		z-index: 10;
	}
}