.o-controller-project {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items:flex-start;
	overflow: hidden;

	&__header {
		flex: 0 1 100%;
		margin-bottom: 1rem;
	}

	&__views {
		flex: 0 1 90%;
		overflow: hidden;
	}

	&__side-buttons {
		align-self: flex-end;
		margin-left: auto;
		z-index: 10;
	}
}