.o-layout-two-cols {
	display: flex;
	justify-content: space-between;
}

.o-layout-three-cols {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;

	> * {
		flex: 0 0 calc(33% - 1rem);
	}
}

.o-layout-four-cols {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;

	> * {
		flex: 0 0 calc(25% - 1rem);
	}
}
.o-layout-six-cols {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 1rem;
}