.o-ps-translate-horizontal {
	&-enter {
		opacity: 0.01;
		transform: translateX(100%);
		transition: opacity 500ms cubic-bezier(0,1,.5,1), transform 500ms cubic-bezier(0,1,.5,1);
	}

	&-enter-active {
		opacity: 1;
		transform: translateX(0);
	}

	&-leave {
		opacity: 1;
		transform: translateX(0);
		position: absolute;
		top: 0;
		left: 0;
		transition: opacity 300ms cubic-bezier(0,1,.5,1), transform 500ms cubic-bezier(0,1,.5,1);
	}

	&-leave-active {
		opacity: 0.01;
		transform: translateX(-100%);
	}
}

.o-ps-translate-fade {
	&-enter {
		opacity: 0.01;
		transition: opacity 500ms cubic-bezier(0,1,.5,1);
	}

	&-enter-active {
		opacity: 1;
		transform: translateX(0);
	}

	&-leave {
		opacity: 1;
		transform: translateX(0);
		position: absolute;
		top: 0;
		left: 0;
		transition: opacity 300ms cubic-bezier(0,1,.5,1);
	}

	&-leave-active {
		opacity: 0.01;
	}
}


.o-ps-translate-vertical {

	&-enter {
		transform: translateY(100%) scale(0.8);
		transition: transform 500ms cubic-bezier(0,1,.5,1);
	}

	&-enter-active {
		transform: translateY(0) scale(1);
	}

	&-leave {
		transform: translateY(0) scale(1);
		transition: transform 500ms cubic-bezier(0,1,.5,1);
	}

	&-leave-active {
		transform: translateY(100%) scale(0.8);
	}
	transform: translateY(0) scale(1);
}