.o-scalable {
	transition: transform .2s;

	> * {
		transition: opacity .1s;
	}


	&.is-active {
		transform: scale(10);
		transition: transform .6s;
		z-index:1;

		> * {
			transition: opacity .4s;
			opacity: 0;
		}
	}
}